.login-form {
  display: flex;
  border: solid black;
  border-radius: 1rem;
  flex-direction: column;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
}
label {
  padding: 1rem;
}

button {
  align-self: center;
  margin: 1rem;
}

input {
  padding: 0.5rem;
  margin: 1rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
}

button {
  margin: 1rem;
  padding: 0.5rem;
}
