<div class="calender">
  <div class="month-selector">
    <h6>Today: {{today().toISOString().split("T")[0]}}</h6>
    <h3>Month: <input type="month" [value]="this.monthString()" (change)="onChange($event)"></h3>
  </div>
  <div class="date">
    <table>
      <thead>
        <tr>
          <td>
            Sun
          </td>
          <td>
            Mon
          </td>
          <td>
            Tue
          </td>
          <td>
            Wed
          </td>
          <td>
            Thr
          </td>
          <td>
            Fri
          </td>
          <td>
            Sat
          </td>
        </tr>
      </thead>
      <tbody>

        @for(week of getWeeks();track $index) {
        <tr>
          @for(day of week;track $index) {
          <td class="{{ !day ? '' : 'clickable' }}">
            <!--we will add some logic to highligh if this day is today -->
            {{day}}
          </td>
          }
        </tr>
        }
      </tbody>
    </table>
  </div>


</div>
